name: Build & Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    # Login to Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Build Docker image (correct folder path)
    - name: Build Docker Image
      uses: docker/build-push-action@v5
      with:
        context: ./sample-app
        file: ./sample-app/Dockerfile
        push: true
        tags: anshikapal55/sample-app:latest
